html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 16pt;
}

body {
    overflow: auto;
}

#main {
    height: 100vh;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#result {
    padding: 0.4rem;
    margin: 0;
    text-align: center;
}

#game {
    padding: 0;
    margin: 0;
}
